@import '../common/import';

.transmitters {
  width: 400px;

  .transmitter {
    border-top: 1px solid $lightGray;
    padding: 12px;

    &:hover {
      background: $lightGray;
      cursor: pointer;
    }
  }
}
